.mainContainer {
  background-color: #05060c;
  display: flex;
  max-width: 100vw;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  position: relative;
  z-index: 2;
  position: sticky;
  top: 0;
}

.menuContainer {
  display: flex;
  font-size: 1.375rem;
  column-gap: 1.875rem;
}

.menuContainer a {
  color: white;
}
